body {
  margin: 0;
  padding: 0;
  font-family: "Courier New";
  background: linear-gradient(73deg, rgba(34,195,161,1) 0%, rgba(253,45,164,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}